*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* -----------------Defualt Theme Style Start-------------- */
@import url('https://fonts.googleapis.com/css?family=Kulim+Park:200,300,400,600,700|Open+Sans+Condensed:300,700&display=swap');

#main{
  height: 100vh!important;
  overflow: hidden;
}

h1, h2, h3{
  font-family: 'Kulim Park', sans-serif;
}
p, a, button{
  font-family: 'Open Sans Condensed', sans-serif;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
  height: 100%;
}
ul{
  list-style-type: none;
}
.container{
  max-width: 1350px;
  margin: 0 auto;
}
.section {
    height: 100vh;
    position: relative;
}
.section-banner {
    height: 400px;
    background-color: #fff;
    width: 65%;
}

.display-none{
  display: none;
}

/* -----------------Defualt Theme Style End ----------------- */

/* -------------------- First Section Start -------------------- */

/* -------------------- Header Styles Start -------------------- */
.header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;  
}

#logo{
  flex-basis: 0px;
  height: 50px;
  width: 80px;
}

#logo img{
  width: 100%;
  height: 100%;
  margin-top: -20px;
  margin-left: 30px;
}

#logo a{
  border-bottom: none;
}

#logo a span{
  margin-left: 10px;
  font-size: 22px;
  color: #083B66;
  font-weight: 800;
}

.search{
  flex-basis: 300px;
}

.search input{
  width: 100%;
  height: 35px;
  padding: 10px 15px;
  border-radius: 5px;
  border:1px solid #e78200;
  outline: none;
}

.search input:focus{
  border: 1px solid #083B66;
}

.header-wrapper a{
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #e78200;
}

.header-wrapper a:hover{
  color:#e78200;
  transition: 0.4s;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  z-index: 9999;
}

.header::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.3;
  z-index: -1;
}

/* -------------------- Header Styles End -------------------- */

/* ----------------- Menu Styles Start----------------- */

.main-menu{
    display: flex;
    width: 300px;
    margin: 0 auto;
    justify-content: space-between;
    position: fixed;
    top: 440px;
    right: 100px;
    z-index: 999;
    align-items: center;
}

.main-menu ul li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 30px 7px;
    line-height: 1em;
    color: #fff;
    font-weight: 800;
}

.main-menu ul li{
  border:1px solid #343434;
  width: 80px;
  height: 80px;
  text-align: center;
  background-color: #E78200;
  box-shadow: 2px 4px 15px rgba(255, 222, 222, 0.5);
}

.main-menu .menu-logo{
  width: 140px;
  height: 140px;
}

.main-menu .menu-logo img{
  width: 100%;
  height: 100%;
}

.main-menu ul li:hover{
    background-color: #083B66;
    transition: 0.3s;
}

ul.left-side li:first-child {
    transform: skewX(-30deg);
    position: relative;
    left: 23px;
    background-color: #3a3a3a;
}

ul.left-side li:last-child {
    transform: skewX(30deg);
    position: relative;
    left: 23px;
    background-color: #3a3a3a;
}

ul.right-side li:first-child {
    background-color: #3a3a3a;
    transform: skewX(30deg);
    position: relative;
    right: 23px;
}

ul.right-side li:last-child {
    background-color: #3a3a3a;
    transform: skewX(-30deg);
    position: relative;
    right: 23px;
}

ul.left-side li:first-child:hover, ul.left-side li:last-child:hover, ul.right-side li:first-child:hover, ul.right-side li:last-child:hover{
   background-color: #ec920b;
   transition: 0.3s;
}

/* ----------------- Menu Styles End----------------- */

/* ----------------- Scrool/Next Navigations Styles Start ----------------- */

.navigations{
  width: 50px;
  height: 60px;
  position: fixed;
  bottom: 5%;
  right: 10%;
  z-index: 9999;
  transform: rotateZ(-90deg);
  animation-name: navigations;
  animation-duration: 1.7s;
  animation-iteration-count: infinite;
}

@keyframes navigations {
  0%{
    bottom: 5%;
  }

  70%{
    bottom: 10%;
  }

  100%{
    bottom: 5%;
  }
}

.navigations svg{
  fill:#ffffff;
}

.navigations:hover svg{
  fill:#083B66;
  transition: 0.3s;
}

.navigations:hover{
  animation-name: none;
}

/* ----------------- Scrool/Next Navigations Styles End ----------------- */

/* ----------------- About Styles Start ----------------- */

.about-section{
  background-image: url('assets/img/bg/bg01.jpeg');
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.about-section::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.owl-item.active .banner{
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  bottom: 0;
  width: 1000px;
  animation-name: banner;
  animation-duration: 800ms;
}

@keyframes banner {
  from{
    left: -100%;
  }

  to{
    left: 0;
  }
}

.banner-contents h1{
  margin-bottom: 30px;
  text-transform: capitalize;
  font-weight: 800;
  color: #083B66;
}

.banner-contents p{
  font-size: 16px;
  text-align: justify;
}

.banner-contents{
  padding: 30px 100px 30px 20px;
  margin-top: 30px;
  width: 400px;
}

.owl-item.active .small-content{
  width: 350px;
  background-color: #ec920b;
  height: 350px;
  padding: 30px 25px;
  position:absolute;
  bottom: 5%;
  left: 10%;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
  animation-name: small-content;
  animation-duration: 450ms;
  animation-delay: 1s;
  opacity: 0;
  visibility: hidden;
  animation-fill-mode: both;
}

@keyframes small-content {
  0%{
    bottom: 180%;
    opacity: 1;
    visibility: visible;
  }
  70%{
    bottom:0;
    opacity: 1;
    visibility: visible;
  }
  100%{
    bottom: 5%;
    opacity: 1;
    visibility: visible;
  }
}

.small-content:hover{
  background-color: #083B66!important;
  transition: 0.4s;
}

.small-content:hover h3, .small-content:hover p{
  color: #ffffff;
  transition: 0.4s;
}

.small-content h3{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}

.small-content p{
  font-size: 15px;
  text-align: justify;
  line-height: 1.7em;
}

.visible{
   opacity: 1!important;
   visibility: visible!important;
}

/* ----------------- About Styles End ----------------- */

/* -------------------- First Section End -------------------- */

/* -------------------- Second/service Section Start -------------------- */

.service-section{
  background-image: url(assets/img/bg/bg07.jpeg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.service-section::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.owl-item.active .service{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #083B66;
  transform: scale(0.3);
  animation: service 1s 1s both;
}

@keyframes service{
  0%{
    bottom: 0;
    left: 0;
    transform: scale(0.3);
  }

  50%{
    left:-435px;
    bottom:-140px;
    transform: scale(0.3);
  }

  100%{
    transform:scale(1);
    transition: 1s;
  }
}

.service i{
  color: #ffffff;
  font-size: 50px;
}

.service-title h3{
  color: #ffffff;
  margin-left: 15px;
  font-size: 18px;
  font-weight: 800;
}

.service-title{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.owl-item.active .single-service{
  width: 30%;
  border: 1px solid #E78200;
  padding: 30px 20px;
  box-shadow: 1px 4px 15px rgba(245, 240, 240, 0.7);
  margin-bottom: 50px;
  margin-right: 25px;
  visibility: hidden;
  opacity: 0;
}

.service-popup{
  animation: service-popup 1s;
}

@keyframes service-popup{
  from{
    transform: scale(0.3);
  }

  to{
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
}

.single-service:nth-child(1){
  animation-delay: 300ms;
}

.single-service:nth-child(2){
  animation-delay: 500ms;
}

.single-service:nth-child(3){
  animation-delay: 700ms;
}

.single-service:nth-child(4){
  animation-delay: 900ms;
}

.single-service:nth-child(5){
  animation-delay: 1.1s;
}

.single-service:nth-child(6){
  animation-delay: 1.3s;
}

.single-service:hover{
  transform: scale(1.1)!important;
  transition: 0.3s;
}

.single-service:hover i, .single-service:hover h3{
  color: #E78200;
  transition: 0.3s;
}

.service-wrapper{
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  margin-left: 30px;
}

/* -------------------- Second/service Section End -------------------- */

/* -------------------- Contact page -------------------- */

#contact{
  padding: 100px 0;
}

.contact-form{
  width: 700px;
  margin: 0 auto;
}

.contact-form h1{
  color: #083B66;
  text-align: center;
  margin-top: 50px;
}

.form{
  margin-top: 50px;
}

.form-group{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.form-group i{
  color: #083B66;
  font-size: 22px;
  margin-right: 25px;
}

.form-group input{
  padding: 10px 20px;
  height: 35px;
  border: none;
  border-bottom: 2px solid #E78200;
  background: transparent;
  width: 300px;
}

.form-group input::placeholder{
  color: #083B66;
}

.form-group textarea{
  height: 150px;
  border: 1px solid #E78200;
  background: rgba(245, 240, 240, 0.7);
  width: 300px;
  margin-left: 50px;
  color: #083B66;
}

.form-group button{
  background-color: #E78200;
  border: 1px solid #083B66;
  display: block;
  width: 300px;
  padding: 7px 20px;
  border-radius: 5px;
  margin-left: 50px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
}

.form-group button:hover{
  color: #083B66;
}